body {
  /*
  background: url(../images/bkg/logo-paint.jpg);
  background-repeat: no-repeat;
  background-position: 0px -130px;
  z-index:100; 
  background-position: 10% 0%;
  */
  }


/*
#breadcrumb .breadcrumb-wrapper .element-invisible  {clip:rect(auto); height:100%;  width:100%; float:left; position:relative;}
*/



#page { max-width:960px;   margin: 0 auto; }
#columns {background-color:#fff;}
a {text-decoration: underline;}
a:hover {color: red;}

.group-right {margin-bottom:20px;}
h2,
.group-right .label-above {
    font-size: 1.5em; margin: 0.83em 0;
}
.group-footer { border-top: 1px dashed grey; margin:0px; background-color:#E8E8EE; padding: 5px 20px 20px 20px; clear:left;}
.group-footer .comment-form  {background-color:lightgrey; padding: 5px 20px 5px 20px;} 
.group-footer  article {padding:0px; margin-bottom:20px;  padding-top:20px; border-top: 1px dotted grey;}
.group-footer .comment-form label {float:left; margin-right:20px; width: 80px;}
.group-footer .comment-form textarea {width:80%;}

h2.block-title {margin: 0.83em 0;}
.ds-2col-stacked-fluid > .group-right h2,
.ds-2col-stacked-fluid > .group-right h3,
.field-name-title h3 
  { margin: 0px 0px 5px 0px; padding:0px; line-height:100%;}

.field-name-field-event-ref-venue
{  margin: 0px 0px 0px 0px; padding:0px; line-height:100%; }

#branding {background-color: transparent; padding:0px;   width:100%;}
#branding #logo  {float:left; width:50%; margin-left:-10px; }
#branding #logo img {width:200px; min-width:100px;}
#branding #logo-right-side {   positon: relative;  float:right;width:50%; font-size:0.9em;}
#branding #logo-right-side #site-slogan h2 {position:relative;;top: 40px; left:-20px; float:right; color:#333;}
#branding  .secondary-menu {position:relative;  float:right;}
.front .nav ul.menu li {
color:#fff;
}

.field field-name-offer-by h2.block-title {float:left }
.field-name-offer-by {}
.field-name-offer-by .view-blocks-for-offer {display:inline-block; }
.field-name-offer-by .views-row { margin:0px;  padding:0px;   border:0px;}


.view {margin-bottom:10px;}
  
fieldset {
  border: 0px;
}
.label-inline {display:inline; font-weight:bold;}

.ds-2col-stacked-fluid > .group-left {
  float: left; /* LTR */
  width: 68%; 
  padding-right:10px;
}

.ds-2col-stacked-fluid > .group-right {
  float: right; /* LTR */
  width: 30%;
}
.field-name-title  h1 { margin: 0px 0px 10px 0px; padding:0px; line-height:100%;}
.group-header {width: 100%;  border-bottom: 1px solid grey;  margin-bottom: 10px; margin-top: 20px; height: 130px;}
.group-ds-header {width:63%;border-width: 0px 0px 1px 0px; padding:0px; margin-bottom:10px; display: inline-block;}
.group-ds-logo {width:35%; float: right; border: 0px;  padding:0px; min-height: 120px;}
.field-name-map-block, .field-name-field-shr-logo {/*min-width: 240px; */}
.group-ds-logo img, field-name-field-shr-logo img {float: right;  border: 1px solid grey; padding:0px; max-height:120px; max-width:200px;}
.view-mode-search_result .field-name-field-dir-main-business-category {float:left;margin-right:10px;}


.group-ds-logo img, 
field-name-field-shr-logo img 
  {float: right;  border: 1px solid grey; padding:0px; max-height:120px; max-width:200px;}

/* Search results 
.view-filters {
  background-color: orange;margin: 0px;padding: 10px; border: 1px solid grey;
}
*/
.view-filters {
  background-color: #ffffff;;margin: 10px 0px 10px 0px;padding: 5px 0px 5px 0px; border-bottom: 1px solid grey; border-top: 1px solid grey;
}


#views-exposed-form-events-events-page .views-widget div,
#views-exposed-form-offer-offers-page .views-widget div 
  {display:inline; }
.form-item-field-offer-expiry-date-value-max {margin-right:10px;}
#views-exposed-form-events-events-page .form-type-date-select label, 
#views-exposed-form-offer-offers-page .form-type-date-select label
  {float:left; margin-right:5px;}
#views-exposed-form-events-events-page #edit-field-event-date-value-min label,
#views-exposed-form-offer-offers-page #edit-field-offer-expiry-date-value-min label
  {display:none;}
/* Teaser */
.view-mode-teaser { width:460px; float:left;  margin:5px; border-bottom: 1px dotted grey;  margin-bottom: 10px; padding-bottom: 10px;}
.view-mode-teaser .field-name-field-image {float:left;}
.view-mode-teaser .field-name-title {}
.view-mode-teaser .field-name-field-image img {width:100px; height:100px;margin-right:10px;}
.view-mode-teaser .field-name-body {height:58px; overflow: hidden;}
.view-mode-teaser.node-events .field-name-body {height:40px; overflow: hidden;}
.view-mode-teaser .field-name-field-shr-tax-menu-category {float:left;}
.view-mode-teaser .field-name-post-date, 
.view-mode-teaser .field-name-node-type {
    float:left;
}
.field-name-field-event-date .label-inline {font-weight: bold;}

.page-taxonomy .field-name-field-shr-tax-menu-category { display:none; }
.page-taxonomy .field-name-node-type .label-inline { display:none; }


.view-mode-teaser .field-name-field-shr-icon {clear:left; float:left;  padding-right:10px;}
.view-mode-teaser .field-name-field-shr-icon img {width:80px; height:80px; border: 0px solid grey;}
.view-mode-teaser .field field-name-title h2  {margin:0px; padding:0px; line-height:0px;}
.view-mode-teaser .field-name-body {margin:0px; padding:0px; }


.view-mode-search_result .group-left {padding:0px;  border-bottom: 0px solid grey;  margin-bottom: 0px; margin-top: 0px;}
.view-mode-search_result .group-right .field-name-field-shr-logo{float:right;}
.views-row {border-bottom: 0px dotted grey;  margin-bottom: 10px; margin-top: 20px;}
.field-name-field-dir-prod-services a {margin-right:10px;}
.view-mode-search_result .group-right img {max-height: 100px;}


.field-name-map-block, .field-name-field-shr-logo {/*min-width: 240px; */}
.group-right .field, 
.group-left .field 
  {margin-bottom:20px;} 
.group-right .field .block-title ,
.group-left .field .block-title 
  {margin-bottom:10px;}
.label-above {
  font-weight: bold;
}

.group-left .label-above {
    font-size: 1.5em; margin: 0.83em 0;
}

.group-left .views-row .field {padding:0px; margin:0px;}
.group-left .views-row { margin:10px 0px 0px 0px; padding:10px 0px 20px 0px;}


.group-right .node,
.group-left .node
	{margin:0px; padding:0px;}

.node-event .group-right .field-name-field-event-ref-venue,
.node-event .group-right .field-name-venue-title
 {margin:0px; padding:0px;}
 .node-event .group-right .field-name-title, 
 .node-event .group-right .field-name-field-event-share
  {margin:0px 0px 10px 0px; padding:0px;}
  
a.with_icon_link {margin-right:10px;}
#more-links {margin-top:10px;}

.field-collection-container {
  border-bottom: 0px solid #D3D7D9;
  margin-bottom: 0em;
}

.field-collection-container .field-items .field-item {
  margin-bottom: 0px;
}
.field-name-field-dir-tag-line {font-weight:bold;
}

/*
.field-name-field-sel-tel-type  {margin:0; padding:0; background-color:blue; display:inline;}
.field-name-field-tel-no {float:right; background-color:green;  display:inline;}

*/



#embedoffers .offer .picture img {width:100px;}
#embedoffers .offer .picture {width:20%; float:left; }
#embedoffers .offer .main {width:70%;  position:relative;left:20px;}
#embedoffers .offer .title {font-weight:bold;}
#embedoffers .offer .timetogo {color:orange; font-weight:bold;}
#embedoffers .offer {
  clear:left; 
  width:100%; 
  border-bottom: 1px dashed grey; 
  padding:20px 0px; 
  height:120px; overflow: hidden;
  
}


.sub-gallery-pic {
  overflow: hidden;
  display: block;
  float: left;
  margin-right:0px;
  border: 0px solid blue;
  padding:0px;
}

 .sub-gallery-pic a { 
   height:100px;
   width: 185px;
   overflow: hidden;
   float: left;
   display: block;
   margin-right: 10px;
   margin-bottom: 10px;
   border: 1px solid blue; padding:5px 5px 15px 5px;
 }
  .sub-gallery-pic a:hover {border: 1px solid red;}
  
.sub-gallery-pic a img {
  width: 270px;   
}



#footer {background-color:#333; color:#fff; padding:10px;vertical-align:middle;}
#footer a {background-color:#333; color:#fff;}


.field-name-field-offer-expiry-date {}
.field-name-field-offer-expiry-date .label-inline {display:inline;}
.view-blocks-for-offer .group-header {}
.view-blocks-for-offer .group-header .field field-name-field-image{}
.view-blocks-for-offer .group-left {}



ul.action-links {
  display:none;
}








/********* FRONT PAGE *********/
/* HOME SLIDER */
.main-home-page-slider {z-index:-1; position:relative;}
.front .view-display-id-block_home_slideshow {/*padding: 10px 10px 10px 10px; */}

#slideshow-header {width:100%; color:#fff; text-align: left;  position: relative; font-size: 16px;}
#slide_count {display:none;width: 70%; text-align: center; display: none;position: absolute;  font-size: 18px;}


#frontpage-slide-container div.transbox {
  width:440px;
  height:40px;
  margin:0px 0px;
  background-color:#000;
  color:#fff;
  opacity:0.6;
  filter:alpha(opacity=50); /* For IE8 and earlier */
  margin-top:220px;
}
#frontpage-slide-container div.transbox p {
  margin:0px 0px;
  font-weight:bold;
  color:#fff;
  vertical-align:middle;
  text-align:center;  
  font-size:20px;
  padding-top: 5px;
  text-transform:uppercase;
} 
  #frontpage-slide-container div.transbox p a {text-decoration: none; color:#fff;}

.view-display-id-block_home_slideshow  {border: 0px solid #dddddd; padding:0px; background-color:#f5f5f5; position: relative; height: 298px;}
/* .node-type-how-to h2 {color:#000066; } */
#follow-frontpage {width:100%; color:#fff; text-align: left;  position: relative; font-size: 16px;}



#views_slideshow_controls_text_previous_frontpage-block_home_slideshow a span{
	background: url(../images/slide_prev.png); background-repeat: none; background-color:transparent; padding:13.5px 25px;  right:65px; top:5px; z-index:100; position:absolute;
}
#views_slideshow_controls_text_next_frontpage-block_home_slideshow a span{
	background: url(../images/slide_next.png); background-repeat: none; background-color:transparent; padding:13.5px 25px;  right:5px; top:5px; z-index:100; position:absolute;
}

.views-slideshow-controls-top {background-color:#333; text-align: left; color:#fff; padding:5px;}

#views_slideshow_cycle_teaser_section_frontpage-block_home_slideshow 
.views-slideshow-cycle-main-frame-row {
  width: 100% important;
}

.view-id-frontpage .views-row {border-bottom: 0px solid grey;  margin-bottom: 0px; margin-top: 0px;}

#frontpage-slide-container {clear: both; padding: 0px 0px 0px 0px; width:960px; }

#frontpage-slide-container .title {
  font-size:18px; font-weight:bold; /*background-color: #F5F5F5;*/ padding: 5px 5px 12px 5px; margin: 5px 0px 10px 0px; text-transform: uppercase; border-bottom: 1px dotted grey;
}
#frontpage-slide-container .title a {text-decoration: none; color:#000;}
#frontpage-slide-container .footer {background-color: transparent; padding:10px; height:20px; border-top: 1px dotted grey;}
#frontpage-slide-container .main {float:left; width:49%; padding:0px 20px 0px 10px; }
#frontpage-slide-container .description {
  background-color:transparent; 
  position:relative; 
  height: 155px;
  overflow: hidden;
  padding-top:5px; padding-left: 5px;
}
.front .views-slideshow-controls-top {background-color:#333; text-align: left; color:#333; background-color: darkorange; }
.front .views-slideshow-controls-top #slideshow-header  { padding:5px; font-weight: bold; font-size: 18px; text-transform: uppercase;}
h2.block-header {text-transform: uppercase;}

#frontpage-slide-container .image {
  position: relative;
  width:45.8%;
  height: 260px;
  overflow: hidden;
  border: 0px solid lightgrey;
  float: left; 
  background-color:transparent;  
  margin: 0px 0px 0px 0px;
  
}

#frontpage-slide-container .image img {
  position: absolute;
  border: 0px solid grey; padding: 0px;
  background-color: #333;;  width:100%;
}


#frontpage-slide-container  .main {}

#home-left {width:460px; float:left; margin-right: 9px; clear:left;;}
#home-right {width:460px;  float:left; margin-left: 9px;}



/* FRONT BLOCKS */

.front-content-block h2 {
  font-size: 1.1em;
  margin: 0.83em 0;
  background-color: #59A9FF; padding:5px 5px 5px 15px; color:#fff;
}

.front-content-block h3 {
  font-size: 1.07em;
  margin: 0em 0;
}
/*
.front-content-block .field-name-field-shr-tax-menu-category, 
.node-type-venue .field-name-field-shr-tax-menu-category 
  {float:left;}
.front-content-block .field-name-post-date, 
.node-type-venue .field-name-post-date 
  {float:left;}
.front-content-block .field-name-post-date .label-inline, 
.node-type-venue .field-name-post-date .label-inline 
  {float:left;}
.front-content-block .field-name-node-link, 
.node-type-venue .field-name-node-link 
  {float:left;}
.front-content-block .field-name-node-type, 
.node-type-venue .field-name-node-type 
  {float:left;}
.front-content-block .field-name-field-event-category, 
.node-type-venue .field-name-field-event-category 
  {float:left;}

  */
  

  
#claimbutton {background-color: darkorange; padding:5px; text-align:center; border: 1px solid grey; margin-top:20px; font-size:16px; font-weight:normal;}
#claimbutton a {text-decoration: none; text-align:center; color: #fff; font-size:16px; font-weight: normal;}
#claimbutton a:hover {color: #666;}

.node-type-page .claim-node {display: none;} 